<!DOCTYPE html>

{% block heading %}
    Page 02 Inheritance
{% endblock %}

{% block body %}
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit unde qui cum nostrum, aliquam aut velit, et excepturi quam nihil cupiditate in aperiam! Quidem facilis, quis incidunt sit eveniet ipsum?
    Voluptatem, reiciendis alias quam natus rem suscipit provident dignissimos corrupti asperiores, accusantium deserunt enim quas numquam recusandae, rerum sint? Adipisci ut voluptate pariatur corrupti dolor aspernatur eius voluptas consequatur nulla!
    Est, dolore laudantium dolorum eveniet delectus sit nisi quidem, nobis non, earum minus natus odio? Eius rerum commodi voluptate quos ducimus natus minima laborum ea aliquam assumenda? Pariatur, enim sit?
    Corrupti cumque dolor ipsam officia esse perspiciatis numquam iste inventore animi, perferendis atque veritatis facere, officiis ducimus quidem tempora! Porro, tenetur praesentium. Dicta error ex quae illum asperiores saepe fuga.
    Officia, sint velit laboriosam nesciunt totam commodi excepturi? Consectetur dolore nulla asperiores minus fugiat hic expedita nisi aliquam non adipisci id quis corrupti, ducimus quisquam explicabo repudiandae ab molestiae voluptas.
    Ratione quae inventore magnam reiciendis animi mollitia obcaecati nihil illum saepe magni. Facere nostrum dolores quas, quibusdam quis, laudantium fugit similique at, quasi itaque debitis dolore rem molestiae earum vitae?
    Aut corrupti, modi libero maiores officiis, vero architecto est aliquid minima non dolor, eligendi perspiciatis corporis suscipit qui pariatur? Porro, aut labore? Officia dicta earum molestias, perferendis incidunt doloremque temporibus!
    Aut sed voluptas quod? Commodi sint, recusandae ratione earum saepe qui. Itaque voluptates mollitia reiciendis harum sapiente soluta debitis facere perspiciatis voluptatibus autem ea fuga non, dolore ex dicta repudiandae.
    Tempora recusandae necessitatibus in totam libero enim eveniet expedita, distinctio et nemo repellat consequuntur! Rem, numquam temporibus. Neque adipisci, itaque repellendus voluptate vitae molestiae facilis optio, nihil tempora illo inventore.
    Iusto iureA ipsum error fugit illo corrupti fugiat perspiciatis corporis voluptatibus ducimus, eos placeat optio recusandae eveniet voluptas suscipit? Qui non sed mollitia soluta pariatur necessitatibus error quo dolor adipisci?</p>

    <a href="{{ url_for('page_01_inh') }}">Return to page 01 Inheritance</a>
{% endblock %}