
{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/styles_init.css">
{% endblock %}

{% block heading %}
    Notes
{% endblock %}

{% block body %}
    <div class="div_title_class">
        <h2>
            pagina ROUTES 01
        </h2>
    </div>
    <div class="parent">
        <div class="child_01">
                {{ mensage }}
            </div>
        <div class="child_01">
            <h3>
                <a href="{{ url_for('init') }}">Retornar a Pagina Principal</a>
            </h3>
        </div>
    </div>
{% endblock %}
        
